html
  head
    title Home Page
    meta(charset='utf-8')
  body
    a(href='/'): h1 Home
    p: a(href='/welcome'): h4 Welcome page
    ul
      li
        a(href='/signin') Sign in
      li
        a(href='/signup') Sign up
    ul
      each topic in topics
        li
          a(href='/topic/' + topic.id)= topic.title
    article
      if topic
        h2= topic.title
        = topic.description
        div= 'by' + topic.author
      else
        h2 Homepage
        | NodeJs learning
    div
      a(href='/writingPost') New Topic
