html
  head
    title Welcome page
    meta(charset='utf-8')
  body
    a(href='/'): h1 Home
    if firstname && lastname
      h2 Welcome #{firstname}, #{lastname}
      p: a(href='/signout') Sign out
    else
      h2 Welcome
      p: a(href='/signin') Sign in
      p: a(href='/signup') Sign up
